/*CSS Reset / Normalize*/
/* Hemos disponibilizado el básico de reset de estilos. Si quieren, añadan más informaciones 
en las secciones señaladas */
@import url("styles/reset.css");
@import url("styles/menu.css");
@import url("styles/hero.css");
@import url("styles/about.css");
@import url("styles/skills.css");
@import url("styles/hobbies.css");
@import url("styles/academic.css");


body {
    box-sizing: border-box;
    background-color: #f6eaf9;
    font-family: 'Raleway';
    color: #464646;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    line-height: 1;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ol, ul,li {
    list-style: none;
}

a{
    text-decoration: none;
    color: var(#e0c5dc);
}

/*Enlace de la documentación oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sección Menu*/

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px;
}

/*Sección hero*/

section.hero{
    display: flex;
    flex-direction: column;
    padding: 32px;

    .title__network{
       display: flex;
       justify-content:space-between; 
       align-items: center;
    }
}

/*Sección About*/

section.about{
    display: flex;
}


/*Sección Hobbies*/

section.hobbies{
    
}

/* Experiencia Académica*/

section.academic{
    display: flex;
}

/* experiencia*/

section.experience{

}

/*Contacto*/

section.formcontato{

}

/*footeer*/

section.footer{
   
}


/*Tablet*/
@media (min-width: 768px) {

/* Menú */

/*title*/

/*Skills*/

/*Hobbies*/

/*Formación Académica*/

/*Experiencia Profesional*/

}

/*Mobile*/
@media (min-width: 425px) {

/*Menu*/

/*Titulo*/

/*Sección sobre mi*/

/*Skills*/

/*Hobbies*/
 
/*Formación Académica*/

/*Experiencia Profesional*/

 /*Contacto*/

/*Footer*/

}