.tudo{
    background-color: #f3dcff;
   
}

nav li{
    display: inline;
    
}

nav a{
    text-transform: uppercase;
    color: rgb(64 63 63);
    font-weight: bold;
    font-size: 10px;
    text-decoration: none;
}
