.formcontato__contacto{
    background-color: #dfcdd8;
}

.formcontato__text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
}

.formcontato--esquerda{
    display: none;
}

.formcontato__title{
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
}

.formcontato__subtext{
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    width: 295;
}

.formcontato__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
}

.formcontato__input{
    width: 319px;
    height: 56px;
    border-radius: 4px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid  gray;
    padding: 0 12px;
    outline: none;
}

.formcontato__input:hover{
    border-bottom-color: #680b5a;
}

.formcontato__textarea{
    width: 319px;
    height: 133px;
    border-radius: 4px;
    margin-bottom: 32px;
    font-weight: 400;
    font-size: 16px;
    border: none;
    border-bottom: 3px solid  gray;
    padding: 10px 12px;

}

.formcontato__textarea:hover{
    border-bottom-color: #680b5a;
}

.formcontato__botao{
    display:flex;
    width: 133px;
    height: 40px;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    align-self:flex-start;
    background: #33042c;
    border: none;
    color: #f6eaf9;
}