.title__div{
    display: flex;
    flex-direction: column;
}

.title__profile{
    border-radius: 100%;
    width: 98px;
    height: 98px;
}

.title__bio{
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.title__subsection{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.title__network{
    gap:5px;
}

.title__network__item{
    font-weight: 600;
    font-size: 14px;
}

