.hobbies__line{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 8px;
    gap: 10px;
    padding-bottom: 10px;
}

.hobbies__title{
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

.hobbies__box{
    display: flex;
    align-items: self-end;
    background-color: white;
    width: 122px;
    height: 100px;
    gap: 8px;
    padding: 16px;
}

.hobbies__box ul{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.hobbies__img{
    width: 24px;
    height: 37px;
}

.hobbies__name{
    font-size: 16px;
    font-weight: 700;
}