.menu__logo{
    display: flex;
    align-items: center;
    gap: 8px;
    width: 134px;
    height: 24px;
    font-weight: 700;
}

.menu__title{
    font-size: 16px;
    line-height: 19px;
}

.menu__list{
    display: none;
}

.menu__list__item__c{
    font-size: 14px;
    font-weight: 700;
}

